.audio-player {
    max-width: 350px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: 50px auto 0;
    color: var(--white);
    background:  linear-gradient(90deg, rgba(255,216,155,1) 0%, rgba(0,0,0,1) 96%, rgba(8,7,5,1) 98%, rgba(0,0,0,0) 100%);
}

.artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.track-info {
    text-align: center;
    z-index: 1;
    position: relative;
    color: white;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
}

.artist{
    font-weight: 300;
    margin-top: 0;
}

input[type=range] {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 8px;
	background: #3b7677;
	transition: background 0.2s ease;
	cursor: pointer;
}
